.back-to-products-btn {
    background-color: #E6E6E6;
    color: #000;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-to-products-btn:hover {
    background-color: #DBA6B3;
}

.product-detail-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 120px;
    text-align: left;
    z-index: 2;
}

.product-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0;
}

.product-image {
    flex: 1;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.product-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.product-info {
    flex: 1;
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-info h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.product-info p {
    font-size: 1.1em;
    margin-bottom: 15px;
    color: #666;
}

.product-info .price {
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.product-info .description {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
    max-width: 100%;
}

.star-rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.star {
    font-size: 1.5rem;
    transition: color 0.3s;
}

.star.filled {
    color: #DBA6B3;
}

.add-to-cart-btn {
    background-color: #E6E6E6;
    color: #000;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 100%;
}

.add-to-cart-btn:hover {
    background-color: #DBA6B3;
}

.reviews {
    margin-top: 40px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.reviews h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
}

.review-box {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.2em;
    color: #555;
    margin-left: 10px;
    border-bottom: 1px solid #ddd;
}

.review:last-child {
    border-bottom: none;
}

.review h4 {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #333;
}

.review p {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #666;
}

.review-value,
.star-rating {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;

}

.review small {
    font-size: 0.9em;
    color: #999;
}

@media screen and (max-width: 768px) {
    .product-detail-container {
        padding: 0 10px;
    }
    .product-detail {
        flex-direction: column;
        align-items: center;
    }

    .product-image, .product-info {
        max-width: 100%;
    }

    .reviews {
        padding: 15px;
    }
}
